<div class="container">
	<mat-card>
		<bp-search-block
			(searchFormChangeEvt)="searchCity($event)"
			[searchFormGroup]="searchFormGroup"
		></bp-search-block>
		<bp-table
			*ngIf="(dataSource | async)?.length"
			[dataSource]="dataSource | async"
			[displayedColumns]="displayedColumns"
		></bp-table>
		<div *ngIf="isCityNotFound$ | async" class="not-found">City not found</div>
		<div *ngIf="loading$ | async" class="spinner">
			<mat-spinner diameter="40"></mat-spinner>
		</div>
	</mat-card>
</div>
