.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 48px;

	mat-card {
		position: relative;
		width: 900px;
		height: 300px;
	}

	bp-table {
		margin-top: 24px;
	}

	.not-found {
		text-align: center;
		margin-top: 48px;
		font-weight: 900;
		font-size: 20px;
	}
}
